pre[aria-describedby="code-pre"] {
  counter-reset: token-line;
}

.show .token-line::before {
  counter-increment: token-line;
  content: counter(token-line);
  @apply w-8;
  @apply select-none;
  @apply text-right;
  @apply mr-5;
  @apply inline-block;
  @apply opacity-40;
}
