.mdx-code {
  @apply text-base;
  @apply text-rose-400;
  @apply dark:text-pink-400;
  @apply p-1;
  @apply px-2;
  @apply rounded-lg;
  @apply bg-neutral-200;
  @apply dark:bg-neutral-300;
  @apply dark:bg-[#0e1d1f];
  @apply font-mono;
  @apply font-extrabold;
}

pre[aria-describedby="code-pre"] {
  counter-reset: token-line;
}

.show .token-line::before {
  counter-increment: token-line;
  content: counter(token-line);
  @apply w-8;
}

.token-line::before {
  content: "";
  @apply select-none;
  @apply text-right;
  @apply mr-5;
  @apply inline-block;
  @apply opacity-40;
}
