#content ol,
.styled-list ol {
  @apply list-decimal;
}

#content ul,
.styled-list ul {
  @apply list-disc;
}

#content ol,
#content ul,
.styled-list ol,
.styled-list ul {
  @apply mt-6;
  @apply pl-6;

  @apply marker:text-sky-500;
  @apply dark:marker:text-sky-300;
  @apply marker:font-bold;
  @apply marker:font-mono;
}

#content ol > li,
#content ul > li,
.styled-list ol > li,
.styled-list ul > li {
  @apply mt-5;
  @apply pl-3;
  @apply list-item;
}

#content ol > li > p,
#content ul > li > p,
.styled-list ol > li > p,
.styled-list ul > li > p {
  @apply mt-3;
  @apply leading-[1.5];
}

#content ol ol,
.styled-list ol ol {
  @apply mt-4;
  @apply pl-8;

  list-style-type: lower-alpha;
}

#content ul ul,
.styled-list ul ul {
  @apply mt-4;
  @apply pl-8;

  list-style-type: circle;
}

#content ul ol,
.styled-list ul ol {
  @apply mt-4;
  @apply pl-8;

  list-style-type: lower-alpha;
}

#content ol ul,
.styled-list ol ul {
  @apply mt-4;
  @apply pl-8;

  list-style-type: circle;
}

#content ul ul > li,
.styled-list ul ul > li {
  @apply mt-2;
  @apply pl-2;
}

#content ol ol > li,
.styled-list ol ol > li {
  @apply mt-2;
  @apply pl-2;
}

#content ol ul > li,
.styled-list ol ul > li {
  @apply mt-2;
  @apply pl-2;
}

#content ul ol > li,
.styled-list ul ol > li {
  @apply mt-2;
  @apply pl-2;
}
